<html>
    <head>


    </head>
    <body>
        <div>
            <h1>All transfers</h1>
        </div>
        <div>
            <table>
                <tr>
                    <td>User</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>PLN</td>
                    <td>AccountNumber</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>Title of the transfer</td>
                    <td>Approved</td>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{item['UserName']}}</td>
                    <td>{{item['FirstName']}}</td>
                    <td>{{item['LastName']}}</td>
                    <td>{{item['pln']}}.{{item['pln_c']}}</td>
                    <td>{{item['AccountNumber']}}</td>
                    <td>{{item['Address']}}</td>
                    <td>{{item['City']}}</td>
                    <td>{{item['TitleTransfer']}}</td>
                    <td>
                        {% if item['Status'] %}
                            <p>Yes</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <p></p>
            <button onclick="location.href='/admin';">go back</button>
        </div>


    </body>


</html>